{% extends "base.html" %}

{% block title %}
<h1>Commissions</h1>
{% endblock %}

{% block content %}
<div style="padding-top: 10px;" class="page-header">
    <h1>List of available documents</h1>
</div>

<ul>
{% for commission_membership in object_list %}
  <li><a href="{% url deputies:commission-membership commission_membership.pk %}">[{{ commission_membership.commission.name.fr }} / {{ commission_membership.commission.name.nl }}] - {{ commission_membership.deputy.full_name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
