-e git+https://github.com/django-nonrel/django.git#egg=Django-dev
-e git+https://github.com/django-nonrel/mongodb-engine#egg=django_mongodb_engine-dev
-e git+https://github.com/django-nonrel/djangotoolbox.git#egg=djangotoolbox-dev

pymongo
pytz

django_extensions
beautifulsoup
json_diff
lxml
django-tastypie==0.10.0
git+git://github.com/Psycojoker/django-tastypie-nonrel.git
pyyaml
django-crontab
ipdb
mimeparse
