hg+https://bitbucket.org/wkornewald/django-nonrel
hg+https://bitbucket.org/wkornewald/djangotoolbox
git+https://github.com/django-nonrel/mongodb-engine
django_extensions
beautifulsoup
json_diff
lxml

# hacked-on version of tastypie
-e git+https://github.com/andresdouglas/django-tastypie.git@nonrel#egg=tastypie
# tastypie requirements
mimeparse>=0.1.3
python-dateutil
git+git://github.com/Psycojoker/django-tastypie-nonrel.git
