{% extends 'base.html' %}

{% block content %}

<p>Derien Theater is a project to create a lachambre.be_to_json sausage machine to brings to us citizen opendata.</p>

<p>It's a freesoftware licenced under aGPLv3+, you can find the code <a href="https://github.com/Psycojoker/dierentheater">here</a>. You can report bugs <a href="https://github.com/Psycojoker/dierentheater/issues">here</a>.</p>

<p>This is, for the moment, only my personal initiative.</p>

<p>The textarea are here to display the current data, a real RETful API will come later when I'll feel in the mood to code it (you can also send a patch).</p>

<h2>Deputies</h2>
<ul>
    <li><a href="{% url deputies:deputy-list %}">All</a></li>
    <li><a href="{% url deputies:commission-list %}">Commissions</a></li>
</ul>
<h2>Documents</h2>
<ul>
    <li><a href="{% url deputies:document-list %}">All</a></li>
</ul>
<h2>Questions</h2>
<ul>
    <li><a href="{% url deputies:question-list %}">All</a></li>
</ul>
<h2>Analysis</h2>
<ul>
    <li><a href="{% url deputies:analysis-list %}">All</a></li>
</ul>
{% endblock %}
